<!-- <div class="card">
  <div class="col-md-6">
    <img [src]="product.image" alt="{{product.nom}}" class="card-img">
    <div class="card-body">
      <p class="card-text">{{product.nom}}</p>
      <span>{{product.prixHT}} €</span>
      <br>
      <span>{{quantite}}</span>
      <br>
      <a class="btn btn-danger m-1" (click)="decrementQuantity()">-</a>
      <a class="btn btn-success" (click)="incrementQuantity()">+</a>
    </div>
    <button class="btn btn-primary" (click)="addToCart(product)">ajouter</button>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img [src]="product.image" alt="{{product.nom}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.nom }}</h5>
          <p class="card-text">{{ product.prixHT }} €</p>
          <div class="d-flex align-items-center">
            <button class="btn btn-danger btn-sm m-1" (click)="decrementQuantity()">-</button>
            <span>{{ quantite }}</span>
            <button class="btn btn-success btn-sm m-1" (click)="incrementQuantity()">+</button>
          </div>
          <button class="btn btn-primary" (click)="addToCart(product)">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </div>
</div>
