.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.order {
    font-weight: bold;
}

.price {
    text-align: right;
}

.remove {
    cursor: pointer;
    color: red;
}

.headerTable,
table,
td,
th {
    width: 100%;
}